<h1 class="about">About Open-To-Do</h1>
<p id="msg">Build an externally usable API for a basic to-do list application. This API will allow users to modify user accounts and to-do items from the command line.</p>
