<div class="jumbotron page-header">
  <h1 class="centerText">Welcome to Open-To-Do</h1>
  <p id="msg" class="centerText"> Open-To-Do is an externally usable API for a basic to-do list app.  </p>
</div>
